{% extends "Base.html" %}

{% block style %}
    <style type="text/css">
        .content { margin-left: 50px; }
        .base-title {
            margin-top: 70px;
            color: seagreen;
            margin-bottom: 20px;
        }
        .text-content {
            color: teal;
        }
        .map-img {
            width: 70%;
            min-width: 600px;
            border-radius: 3px;
            border: 3px solid dodgerblue;
        }
    </style>
{% endblock %}


{% block content %}
    <h3 class="content base-title"><b>Контакты</b></h3>
    <div class="content" style="margin-bottom: 15px;">
        <h5 class="content text-content"><b>Телефон:</b> <em>+7 (XXX) XXX-XX-XX</em></h5>
        <h5 class="content text-content"><b>E-mail:</b> <em>new_store@ya.ru</em></h5>
    </div>
    <h4 class="content text-content">Вы можете найти нас по адресу: <em>пл.Земля, Россия, г.Казань</em></h4>
    <br>
    <a href="/MainSite/static/geo.png" target="_blank"><img class="content map-img" src="/MainSite/static/geo.png" alt="Упс..."></a>
{% endblock %}