<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
    </script>

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    {% block style %}{% endblock %}

    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="/re_restore" style="color: navy; font-size: 25px;"><em><b><span style="color: forestgreen">Re</span>_restrore</b></em></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup1">
            <div class="navbar-nav">
                {% if authorization %}
                    <a class="nav-item nav-link" href="/lk">{{ login }}</a>
                    <div class="nav-item nav-link">/</div>
                    <a class="nav-item nav-link" href="/sign-out">Выход</a>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Вход
                        </a>
                        <form class="dropdown-menu p-4 dropdown-menu-right" style="width: 300px; margin-top: 10px;">
                            <div class="form-group">
                                <label for="dropdownFormLogin">Логин</label>
                                <input type="text" class="form-control" id="dropdownFormLogin">
                            </div>

                            {% if data['errors']['login'] %}
                                {{ data['errors']['login'] }}
                            {% endif %}

                            <div class="form-group">
                                <label for="dropdownFormPassword">Пароль</label>
                                <input type="password" class="form-control" id="dropdownFormPassword">
                            </div>

                            {% if data['errors']['password'] %}
                                {{ data['errors']['password'] }}
                            {% endif %}

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Запомнить меня
                                </label>
                            </div>
                            <button type="submit" class="btn btn-info">Войти</button>
                        </form>
                    </li>
                    <div class="nav-item nav-link">/</div>
                    <a class="nav-item nav-link" href="/sign-up">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="dropdown" style="margin-left: 15px; margin-top: 10px; position: absolute; z-index: 1;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Каталог товаров
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for item in data['menu_items'] %}
                <a class="dropdown-item" href="{{ item['link'] }}">{{ item['name'] }}</a>
            {% endfor %}
        </div>
        <a href="/basket" class="btn btn-success">Корзина</a>
    </div>

    <div style="min-height: 60vh">
        {% block content %}{% endblock %}
    </div>

    <br>
    <br>
    <br>
    <div style="background-color: #333a40; font-size: 16px; width: 100%; height: 110px; float: end; position: absolute;">
        <pre style="display: inline-block; float: left; color: white; margin-left: 50px; margin-top: 30px;">
Контакты:    +7 (999) 876-54-32
             re_restore@mail.ru
        </pre>
        <pre style="display: inline-block; float: right; color: white; margin-right: 50px; margin-top: 30px;">
            ©2019, Re_restore
            (Все права защищены)
        </pre>
    </div>
</body>
