{% extends "Base.html" %}

{% block style %}
    <style type="text/css">
        .content { margin-left: 16px; }
        .base-title {
            margin-top: 70px;
            color: forestgreen;
        }
        .goods-card {
            margin-bottom: 15px;
            margin-right: 16px;
        }
        .card-header-text {
            font-size: 18px;
            color: seagreen;
        }
        .count-field {
            width: 80px;
            height: 38px;
            padding-bottom: 10px;
        }
        .first-card-part {
            max-width: 25%;
            display: inline-block;
            overflow: hidden;
            float: left;
        }
        .second-card-part {
            width: 70%;
            margin-left: 30px;
            display: inline-block;
            overflow: hidden;
            float: left;
        }
        .card-image {
            height: 150px;
        }
        .order-error {
            margin-left: 70px;
            font-size: 14px;
            color: orangered;
            margin-bottom: 5px;
        }
        .total-line {
            border-bottom: 2px dashed;
            width: 550px;
            margin-left: 0;
            margin-top: 30px;
        }
        .card-header-text:hover { text-decoration: none; }
        .one-line { display: inline-block; }
    </style>
{% endblock %}


{% block content %}
    <h2 class="content base-title"><b>Корзина</b></h2>
    <br><br>
    <div class="content">
        {% if data['basket_data']['goods'] %}
            {% for item in data['basket_data']['goods'] %}
                <div class="card border-info mb-3 goods-card">
                    <div class="card-header card-header-text"><b><a class="card-header-text" href="{{ item['full_link'] }}"><i>{{ item['name'] }}</i></a></b></div>
                        <div class="card-body">
                            <div class="first-card-part">
                                <img class="card-image" src="{{ item['photos'][0] }}" alt="Упс...">
                            </div>
                            <div class="second-card-part">
                                <p class="card-text">{{ item['short_description'] }}</p>
                                <div class="card-buttons">
                            </div>
                                <p class="card-text">{{ item['price'] }} * {{ item['count'] }} = <b>{{ item['price'] * item['count'] }}₽</b></p>
                            <form method="post">
                                <input type="number" class="form-control one-line count-field" name="countGoods" value="{{ item['count'] }}">
                                <button type="submit" class="btn btn-info one-line" style="margin-right: 20px;" name="editCountGoodsBtn" value="{{ item['id'] }}">Изменить</button>
                                <button type="submit" class="btn btn-dark one-line" name="deleteGoodsBtn" value="{{ item['id'] }}">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr class="total-line">
            {% if data['errors']['basket']['order'] %}
                <p class="order-error">{{ data['errors']['basket']['order'] }}</p>
            {% endif %}
            <h3 style="margin-left: 30px;" class="one-line"><b>Итого: <span style="color: darkgreen;">{{ data['basket_data']['total'] }}₽</span></b></h3>
            <form method="post" class="one-line">
                <a href="/make_order" class="btn btn-success" style="margin-left: 20px; margin-top: -10px;">Сделать заказ</a>
            </form>
        {% else %}
            <h3 style="margin-left: 40px; color: cornflowerblue;"><b><i>Здесь пока ничего нет ;)</i></b></h3>
        {% endif %}
    </div>
    <br><br>
{% endblock %}