{% extends "Base.html" %}

{% block style %}
    <style type="text/css">
        .content { margin-left: 16px; }
        .one-line { display: inline-block; }
        .rus-category-input {
            margin-top: 65px;
            min-width: 300px;
            width: 40%;
        }
        .category-input {
            margin-top: 7px;
            min-width: 300px;
            width: 40%;
        }
        .base-title {
            margin-top: 20px;
            color: teal;
            height: 50px;
            font-size: 22px;
            width: 80%;
        }
        .photos-place {
            margin-top: 20px;
            overflow: auto;
            max-width: 450px;
            width: 40%;
            height: 350px;
            border: 3px solid gold;
            border-radius: 6px;
        }
        .goods-photo {
            margin-top: 20px;
            max-width: 450px;
            width: 60%;
            border-radius: 8px;
        }
        .main-card {
            float: right;
            margin-right: 16px;
            margin-top: 20px;
            width: 40%;
        }
        .mini-description { height: 130px; }
        .choose-photo {
            margin-top: 20px;
            width: 40%;
            max-width: 450px;
        }
        .description {
            font-size: 20px;
            width: 95%;
            height: 600px;
            font-family: Helvetica;
        }
        .change-goods-error {
            margin-left: 25px;
            font-size: 14px;
            color: orangered;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .btn-save { margin-bottom: 14px; }
        pre { white-space: pre-wrap; }
        hr { margin-right: 16px; }
    </style>
{% endblock %}


{% block content %}
    <form method="post">
        <input type="text" class="form-control rus-category-input content" name="rus_category" placeholder="Категория на русском"
               class="rus-category one-line" value="/{{ data['goods']['full_category']['rus_name'] }}">
        {% if data['errors']['edit_goods']['rus_category'] %}
            <p class="change-goods-error">{{ data['errors']['edit_goods']['rus_category'] }}</p>
        {% endif %}

        <input type="text" class="form-control category-input content" name="category" placeholder="Категория"
               class="rus-category one-line" value="/{{ data['goods']['full_category']['name'] }}">
        {% if data['errors']['edit_goods']['category'] %}
            <p class="change-goods-error">{{ data['errors']['edit_goods']['category'] }}</p>
        {% endif %}

        <input type="text" class="form-control content base-title" placeholder="Название"
               name="name" value="{{ data['goods']['name'] }}">
        {% if data['errors']['edit_goods']['name'] %}
            <p class="change-goods-error">{{ data['errors']['edit_goods']['name'] }}</p>
        {% endif %}

        <div class="photos-place one-line content">
            {% for photo in data['goods']['photos'] %}
                <img src="{{ photo }}" alt="Ошибка загрузки..." class="goods-photo content">
                <button type="submit" class="btn btn-link" name="delete_photo" value="{{ photo }}">Удалить</button>
            {% endfor %}
        </div>

        <div class="card one-line main-card">
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Цена" aria-describedby="ruble"
                           name="price" value="{{ data['goods']['price'] }}">
                    <div class="input-group-append">
                        <span class="input-group-text" id="ruble">₽</span>
                    </div>
                </div>
                {% if data['errors']['edit_goods']['price'] %}
                    <p class="change-goods-error">{{ data['errors']['edit_goods']['price'] }}</p>
                {% endif %}

                <button type="submit" class="btn btn-info btn-save" name="changeBtn">Готово</button>

                <div class="input-group mb-3" style="width: 50%;">
                    <input type="number" class="form-control" placeholder="Количество" aria-describedby="count-lbl"
                           name="count" value="{{ data['goods']['count'] }}">
                    <div class="input-group-append">
                        <span class="input-group-text" id="count-lbl">Шт</span>
                    </div>
                </div>
                {% if data['errors']['edit_goods']['count'] %}
                    <p class="change-goods-error">{{ data['errors']['edit_goods']['count'] }}</p>
                {% endif %}

                <textarea class="form-control mini-description" placeholder="Мини-описание" name="short_description">{{ data['goods']['short_description'] }}</textarea>
                {% if data['errors']['edit_goods']['short-description'] %}
                    <p class="change-goods-error">{{ data['errors']['edit_goods']['short-description'] }}</p>
                {% endif %}
            </div>
        </div>
    </form>

    <form method="post" enctype="multipart/form-data">
        <div class="input-group content choose-photo">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputFile1" aria-describedby="inputGroupFileAddon04" name="add_photo" multiple>
                <label class="custom-file-label" for="inputFile1">Выберите фото</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" name="btnAddPhoto">Загрузить</button>
            </div>
        </div>
    </form>
    {% if data['errors']['edit_goods']['delete_photo'] %}
            <p class="change-goods-error">{{ data['errors']['edit_goods']['delete_photo'] }}</p>
        {% endif %}
    {% if data['errors']['edit_goods']['add_photo'] %}
        <p class="change-goods-error">{{ data['errors']['edit_goods']['add_photo'] }}</p>
    {% endif %}
    <form method="post">
        <div class="content">
            <hr>
            <h3 class="card-title one-line" style="color: teal; margin-top: 8px;"><b>Описание</b></h3>
            <button type="submit" class="btn btn-info one-line" style="margin-top: -8px; margin-left: 30px;" name="changeBtn">
                Сохранить описание
            </button>
            <hr>

            {% if data['errors']['edit_goods']['description'] %}
                <p class="change-goods-error">{{ data['errors']['edit_goods']['description'] }}</p>
            {% endif %}
            <textarea class="form-control description" name="description">{{ data['goods']['description'] }}</textarea>
        </div>
    </form>
{% endblock %}