{% extends "Base.html" %}

{% block style %}
    <style type="text/css">
        .content { margin-left: 50px; }
        .base-title {
            margin-top: 70px;
            color: seagreen;
        }
        .ask-title {
            margin-top: 20px;
            color: teal;
        }
        .simple-link:hover {
            text-decoration: none;
            color: teal;
        }
    </style>
{% endblock %}


{% block content %}
    <h3 class="content base-title"><b>Помощь покупателю</b></h3>

    {% if not authorization['id'] %}
        <h4 class="content ask-title"><b>Как зарегистрироваться?</b></h4>
        <ol class="content">
            <li>Нажмите на ссылку <a href="/sign-up" target="_blank" class="simple-link">Регистрация</a> в правом верхнем углу.</li>
            <li>Заполните форму.</li>
            <li>Нажмите кнопку "Зарегистрироваться".</li>
            <li>Готово!</li>
        </ol>
    {% endif %}

    <h4 class="content ask-title"><b>Как сделать заказ?</b></h4>
    <ol class="content">
        <li>Авторизируйтесь или зарегистрируйтесь на сайте.</li>
        <li>Выберите товар.</li>
        <li>Нажмите кнопку "В корзину".</li>
        <li>По необходимости добавьте в корзину другие товары.</li>
        <li>Перейдите в корзину, нажав соответствующую кнопку в верхнем левом углу.</li>
        <li>Отредактируйте количество нужных товаров, введя число в специальное поле и нажав кнопку "Изменить".</li>
        <li>Нажмите кнопку "Перейти к оформлению".</li>
        <li>Убедитесь, что все данные соответствуют, и нажните кнопку "Оформить".</li>
        <li>Готово!</li>
    </ol>

    <h4 class="content ask-title"><b>Что после оформления заказа?</b></h4>
    <ol class="content">
        <li>Отслеживайте статус заказа в личном кабинете.</li>
        <li>Когда заказ можно будет забирать, с вами свяжется наш оператор. У него Вы сможете уточнить всю необходимую информацию.</li>
        <li>Внизу сайта можно найти кнопку <a href="/contacts" target="_blank" class="simple-link">Контакты</a>, нажав на которую можно узнать местоположение пункта выдачи.</li>
        <li>Оплата только наличными.</li>
    </ol>
{% endblock %}