{% extends "Base.html" %}

{% block style %}
    <style type="text/css">
        .content { margin-left: 16px; }
        .profile-photo {
            max-width: 260px;
            max-height: 260px;
            height: auto;
            width: auto;
            border-radius: 5px;
        }
        .photo-place {
            width: 260px;
            height: 260px;
        }
        .info {
            float: right;
            padding-top: 15px;
            font-size: 20px;
            text-align: left;
            width: 450px;
            background-color: yellowgreen;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .one-line { display: inline-block; }
        .form-control-sm {
            height: 25px;
            width: 240px;
            margin-left: 20px;
        }
        .delete-profile-btn {
            margin-bottom: 5px;
            float: right;
            margin-right: 16px;
        }
        .change-info-error {
            font-size: 10px;
            color: orangered;
            margin-bottom: 5px;
            margin-left: 22px;
        }
        .choose-photo {
            margin-top: 30px;
            width: 260px;
        }
        .card {
            width: 700px;
            margin-bottom: 10px;
            background-color: #f3fffd;
        }
    </style>
{% endblock %}


{% block content %}
    <br><br><br>
    <div class="photo-place content one-line">
        <img src="{{ data['user']['photo'] }}", alt="Упс...", class="profile-photo">
    </div>

    <div class="badge badge-primary text-wrap info">
        <form method="post">
            <table>
                <tr>
                    <td>Имя:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="text" value="{{ data['user']['name'] }}" name="name">
                        {% if data['errors']['change_profile_info']['name'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['name'] }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="text" value="{{ data['user']['surname'] }}" name="surname">
                        {% if data['errors']['change_profile_info']['surname'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['surname'] }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="email" value="{{ data['user']['email'] }}" name="email">
                        {% if data['errors']['change_profile_info']['email'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['email'] }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Логин:</td>
                    <td><input class="form-control form-control-sm one-line"
                               style="color: black; background-color: white;" type="text" value="{{ data['user']['login'] }}" disabled></td>
                </tr>
                <tr>
                    <td>ID:</td>
                    <td><input class="form-control form-control-sm one-line"
                               style="color: black; background-color: white;" type="text" value="{{ data['user']['id'] }}" disabled></td>
                </tr>
                <tr>
                    <td>Новый пароль:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="password" name="new_password">
                        {% if data['errors']['change_profile_info']['new_password'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['new_password'] }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Старый пароль:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="password" name="check_password">
                        {% if data['errors']['change_profile_info']['check_password'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['check_password'] }}</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <p>
                <input type="checkbox" id="subscriptionCheck" name="subscription" {% if data['user']['subscription'] %}checked{% endif %}>
                <label for="subscriptionCheck" style="margin-top: 20px; margin-left: 5px;">Подписка на e-mail рассылку</label>
            </p>
            <button type="submit" class="btn btn-info one-line" style="margin-bottom: 5px;" name="changeUserInfoBtn">Сохранить</button>
        </form>
        <a href="/delete-profile/{{ authorization['id'] }}" class="btn btn-secondary delete-profile-btn one-line" name="deleteUser">Удалить профиль</a>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div class="input-group content choose-photo">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputFile1" aria-describedby="inputGroupFileAddon04" name="photo">
                <label class="custom-file-label" for="inputFile1">Выберите фото</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Ок</button>
            </div>
        </div>
        {% if data['errors']['change_profile_info']['photo'] %}
            <p class="change-info-error">{{ data['errors']['change_profile_info']['photo'] }}</p>
        {% endif %}
    </form>
{% endblock %}