{% extends "Base.html" %}

{% block style %}
    <style type="text/css">
        .content { margin-left: 16px; }
        .base-title {
            margin-top: 70px;
            color: rebeccapurple;
        }
        .profile-photo {
            max-width: 260px;
            max-height: 260px;
            height: auto;
            width: auto;
            border-radius: 5px;
        }
        .photo-place {
            width: 260px;
            height: 260px;
        }
        .info {
            float: right;
            padding-top: 15px;
            font-size: 20px;
            text-align: left;
            width: 450px;
            background-color: yellowgreen;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .one-line { display: inline-block; }
        .form-control-sm {
            height: 25px;
            width: 240px;
            margin-left: 20px;
        }
        .delete-profile-btn {
            margin-bottom: 5px;
            float: right;
            margin-right: 16px;
        }
        .change-info-error {
            font-size: 10px;
            color: orangered;
            margin-bottom: 5px;
            margin-top: 5px;
            margin-left: 22px;
        }
        .choose-photo {
            margin-top: 30px;
            width: 260px;
        }
        .order-card {
            margin-bottom: 10px;
            margin-right: 16px;
            min-width: 600px;
            width: 60%;
        }
        .card-text { margin-bottom: 0; }
        .card-header { padding-bottom: 5px; }
        .card-header-text {
            font-size: 18px;
            color: seagreen;
            margin-bottom: 0;
        }
        .btn-dark {
            float: right;
            margin-top: -40px;
        }
        .btn-warning {
            float: right;
            margin-top: -40px;
        }
        .status {
            float: right;
            padding-right: 20px;
        }
        .orders-title {
            color: teal;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}


{% block content %}
    <h2 class="content base-title"><b>Личный кабинет</b></h2>
    <br>
    <div class="photo-place content one-line">
        <img src="{{ data['user']['photo'] }}", alt="Упс...", class="profile-photo">
    </div>

    <div class="badge badge-primary text-wrap info">
        <form method="post">
            <table>
                <tr>
                    <td>Имя:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="text" value="{{ data['user']['name'] }}" name="name">
                        {% if data['errors']['change_profile_info']['name'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['name'] }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="text" value="{{ data['user']['surname'] }}" name="surname">
                        {% if data['errors']['change_profile_info']['surname'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['surname'] }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="email" value="{{ data['user']['email'] }}" name="email">
                        {% if data['errors']['change_profile_info']['email'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['email'] }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Логин:</td>
                    <td><input class="form-control form-control-sm one-line"
                               style="color: black; background-color: white;" type="text" value="{{ data['user']['login'] }}" disabled></td>
                </tr>
                <tr>
                    <td>ID:</td>
                    <td><input class="form-control form-control-sm one-line"
                               style="color: black; background-color: white;" type="text" value="{{ data['user']['id'] }}" disabled></td>
                </tr>
                <tr>
                    <td>Новый пароль:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="password" name="new_password">
                        {% if data['errors']['change_profile_info']['new_password'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['new_password'] }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Старый пароль:</td>
                    <td>
                        <input class="form-control form-control-sm one-line" type="password" name="check_password">
                        {% if data['errors']['change_profile_info']['check_password'] %}
                            <p class="change-info-error">{{ data['errors']['change_profile_info']['check_password'] }}</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <p>
                <input type="checkbox" id="subscriptionCheck" name="subscription" {% if data['user']['subscription'] %}checked{% endif %}>
                <label for="subscriptionCheck" style="margin-top: 20px; margin-left: 5px;">Подписка на e-mail рассылку</label>
            </p>
            <button type="submit" class="btn btn-info one-line" style="margin-bottom: 5px;" name="changeUserInfoBtn">Сохранить</button>
            <form method="post">
                <button type="submit" class="btn btn-secondary delete-profile-btn one-line"
                        name="deleteUserBtn" value="{{ data['user']['id'] }}">Удалить профиль</button>
            </form>
        </form>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div class="input-group content choose-photo">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputFile1" aria-describedby="inputGroupFileAddon04" name="photo">
                <label class="custom-file-label" for="inputFile1">Выберите фото</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Ок</button>
            </div>
        </div>
        {% if data['errors']['change_profile_info']['photo'] %}
            <p class="change-info-error">{{ data['errors']['change_profile_info']['photo'] }}</p>
        {% endif %}
    </form>

    {% if data['errors']['edit_order'] %}
        <h3 class="change-info-error">{{ data['errors']['edit_order'] }}</h3>
    {% endif %}

    <h2 class="content orders-title">Мои заказы</h2>
    <div class="orders content">
        {% for item in data['orders'] %}
            <div class="card border-info mb-3 order-card">
                <div class="card-header">
                    <b>
                        <p class="one-line card-header-text">№{{ item['id'] }} от <i>{{ item['user']['login'] }}</i></p>
                        <p class="one-line card-header-text status">
                            {% if item['status'] == 'processing' %}
                                <span style="color: teal;">Выполняется</span>
                            {% elif item['status'] == 'delivered' %}
                                <span style="color: green;">Доставлено в пункт выдачи</span>
                            {% elif item['status'] == 'done' %}
                                <span style="color: limegreen;">Выполнено</span>
                            {% elif item['status'] == 'cancel' %}
                                <span style="color: orangered;">Отменён</span>
                            {% else %}
                                <span style="color: #333a40">Неизвестно</span>
                            {% endif %}
                        </p>
                    </b>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-horizontal-sm">
                        {% for g in item['goods'] %}
                            <li class="list-group-item"><a href="{{ g['full_link'] }}" target="_blank">{{ g['id'] }}</a> - {{ g['price'] }}руб * {{ g['count']}}шт</li>
                        {% endfor %}

                    </ul>
                    -------------------------------------
                    <p class="card-text"><b>Итого:</b> {{ item['total'] }}руб</p>
                    <form method="post" class="one-line" style="float: right; margin-top: 5px;">
                        <button type="submit" class="btn btn-dark" name="deleteOrderBtn" value="{{ item['id'] }}">Удалить</button>
                    </form>
                    {% if item['status'] in ['processing', 'delivered'] %}
                        <form method="post" class="one-line" style="float: right; margin-right: 20px; margin-top: 5px;">
                            <button type="submit" class="btn btn-warning" name="cancelOrderBtn" value="{{ item['id'] }}">Отменить</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if not data['orders'] %}
            <h4 class="content">Здесь пока ничего нет ;)</h4>
        {% endif %}
    </div>
{% endblock %}