{% extends "Base.html" %}

{% block style %}
<style type="text/css" xmlns="http://www.w3.org/1999/html">
        .content { margin-left: 16px; }
        .base-title {
            margin-top: 70px;
            color: forestgreen;
        }
        .goods-card {
            margin-bottom: 15px;
            margin-right: 16px;
        }
        .card-header-text {
            font-size: 18px;
            color: seagreen;
        }
        .first-card-part {
            max-width: 25%;
            display: inline-block;
            overflow: hidden;
            float: left;
        }
        .second-card-part {
            width: 70%;
            margin-left: 30px;
            display: inline-block;
            overflow: hidden;
            float: left;
        }
        .card-image { height: 150px; }
        .order-error {
            font-size: 16px;
            color: darkorange;
            margin-bottom: 5px;
        }
        .id-error { color: midnightblue; }
        .id-error:hover { color: midnightblue; text-decoration: none; }
        .total-line {
            border-bottom: 2px dashed;
            width: 600px;
            margin-left: 0;
            margin-top: 30px;
        }
        .one-line { display: inline-block; }
    </style>
{% endblock %}


{% block content %}
    <h2 class="content base-title"><b>Оформление заказа</b></h2>
    <br><br>
    <div class="content">
        {% for item in data['order_data']['goods'] %}
            <div class="card border-info mb-3 goods-card">
                <div class="card-header card-header-text"><b><i>{{ item['id'] }}, {{ item['name'] }}</i></b></div>
                    <div class="card-body">
                        <div class="first-card-part">
                            <img class="card-image" src="{{ item['photos'][0] }}" alt="Упс...">
                        </div>
                        <div class="second-card-part">
                            <p class="card-text">{{ item['short_description'] }}</p>
                            <div class="card-buttons">
                        </div>
                        <h5 class="card-text">{{ item['price'] }} * {{ item['count'] }}шт = <b>{{ item['price'] * item['count'] }}₽</b></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        <hr class="total-line">
        <div style="margin-left: 30px;">
            {% if data['errors']['order'] == "Goods count error" %}
                <p class="order-error">Некоторые товары были изменены ( id: {% for g in data['errors']['order_goods'] %}<a href="{{ g['full_link'] }}" target="_blank" class="id-error"> {{ g['id'] }} </a>{% endfor %})</p>
            {% elif data['errors']['order'] %}
                <p class="order-error">{{ data['errors']['order'] }}</p>
            {% endif %}
            <h3 class="one-line"><b>Итого: <span style="color: darkgreen;">{{ data['order_data']['total'] }}₽</span></b></h3>
            <form method="post" class="one-line">
                <button type="submit" class="btn btn-success" style="margin-left: 20px; margin-top: -10px;" name="finishBtn">Оформить</button>
            </form>
        </div>
    </div>
    <br><br>
{% endblock %}