{% extends "Base.html" %}

{% block style %}
    <style type="text/css">
        .content {
            margin-left: 60px;
        }
        .base-title {
            margin-top: 30px;
            margin-bottom: 20px;
            color: darkgreen;
        }
        .form-fields {
            width: 300px;
        }
        .error {
            margin-left: 70px;
            font-size: 14px;
            color: orangered;
            margin-bottom: 5px;
            margin-top: -10px;
        }
    </style>
{% endblock %}


{% block content %}
    <br>
    <br>
    <h2 class="content base-title"><b>Регистрация</b></h2>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="content">
            <div class="input-group mb-3 content form-fields">
                <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>
                {{ form.name(class_="form-control", placeholder="Имя") }}<br>
            </div>
            {% if name_error %}
                <p class="error">
                    {{ name_error }}
                </p>
            {% else %}
                {% for error in form.name.errors %}
                    <p class="error">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
        </p>
        <p class="content">
            <div class="input-group mb-3 content form-fields">
                <div class="input-group-prepend">
                    <span class="input-group-text">§</span>
                </div>
                {{ form.surname(class_="form-control", placeholder="Фамилия") }}<br>
            </div>
            {% if surname_error %}
                <p class="error">
                    {{ surname_error }}
                </p>
            {% else %}
                {% for error in form.surname.errors %}
                    <p class="error">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
        </p>
        <p class="content">
            <div class="input-group mb-3 content form-fields">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                {{ form.email(class_="form-control", placeholder="E-Mail", type="email") }}<br>
            </div>
            {% if email_error %}
                <p class="error">
                    {{ email_error }}
                </p>
            {% else %}
                {% for error in form.email.errors %}
                    <p class="error">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
        </p>
        <p class="content">
            <div class="input-group mb-3 content form-fields">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                {{ form.login(class_="form-control", placeholder="Логин") }}<br>
            </div>
            {% if login_error %}
                <p class="error">
                    {{ login_error }}
                </p>
            {% else %}
                {% for error in form.login.errors %}
                    <p class="error">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
        </p>
        <p class="content">
            <div class="input-group mb-3 content form-fields">
                <div class="input-group-prepend">
                    <span class="input-group-text">&</span>
                </div>
                {{ form.password(class_="form-control", placeholder="Пароль") }}<br>
            </div>
            {% if password_error %}
                <p class="error">
                    {{ password_error }}
                </p>
            {% else %}
                {% for error in form.password.errors %}
                    <p class="error">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
        </p>
        <p class="content">{{ form.submit(class_="btn btn-info") }}</p>
    </form>
{% endblock %}
