{% extends "Base.html" %}

{% block style %}
    <style type="text/css">
        .content {
            margin-left: 50px;
        }
        .base-title {
            margin-top: 40px;
            margin-bottom: 20px;
            color: orange;
        }
        .form-fields {
            width: 300px;
        }
    </style>
{% endblock %}


{% block content %}
    <h3 class="content base-title">Вход</h3>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="content">
            <div class="input-group mb-3 content form-fields">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                {{ form.login(class_="form-control", placeholder="Логин") }}<br>
            </div>
            {% if data['errors']['login'] %}
                <div class="alert alert-danger content" role="alert">
                    {{ data['errors']['login'] }}
                </div>
            {% else %}
                {% for error in form.login.errors %}
                    <div class="alert alert-danger content" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </p>
        <p class="content">
            <div class="input-group mb-3 content form-fields">
                <div class="input-group-prepend">
                    <span class="input-group-text">&</span>
                </div>
                {{ form.password(class_="form-control", placeholder="Пароль") }}<br>
            </div>
            {% if data['errors']['password'] %}
                <div class="alert alert-danger content" role="alert">
                    {{ data['errors']['password'] }}
                </div>
            {% else %}
                {% for error in form.password.errors %}
                    <div class="alert alert-danger content" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </p>
        <p class="content">{{ form.submit(class_="btn btn-info") }}</p>
    </form>

{% endblock %}
